.icon {
    font-size: 24px;
}

.badge-alert{
    position: relative;
}

.notification-badge {
    position: absolute;
    top: -10px;
    right: -30px;
    background-color: red; 
    color: white; 
    border-radius: 50%; 
    padding: 4px 9px; 
    font-size: 9px; 
}


.page-content {
    padding-bottom: 5rem
}

.table .price-col {
    width: 180px;
    color: #333;
    font-weight: 400;
}

.nav.nav-tabs {
    border-bottom-right-radius: .3rem;
    border: .1rem solid #d7d7d7;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0
}


.nav.nav-tabs .nav-item+.nav-item {
    margin-left: .1rem
}

.nav.nav-tabs.justify-content-center {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.nav.nav-tabs .nav-link {
    color: #777;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: -.025em;
    padding: .85rem 2.2rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
    text-align: center;
    transition: all .35s ease
}

.nav.nav-tabs .nav-link:hover,
.nav.nav-tabs .nav-link:focus {
    color: #c96;
    border-color: transparent
}

.product-col .product-title a {
    color: inherit;
}

.product-col .product-title {
    display: inline-block;
    color: #333;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    margin: 0;
}

.product-title {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.25;
    letter-spacing: -.01em;
    color: #333333;
    margin-bottom: 0.2rem;
}

.nav.nav-tabs .nav-item.show .nav-link,
.nav.nav-tabs .nav-item .nav-link.active {
    color: #c96;
    border-color: #d7d7d7;
    border-bottom-color: transparent
}

.nav.nav-tabs .nav-item.show .nav-link, .nav.nav-tabs .nav-item .nav-link.active {
    color: #39f;
}

.nav.nav-tabs.nav-tabs-bg .nav-link:not(.active) {
    border-color: #ebebeb #ebebeb #d7d7d7 #ebebeb;
    background-color: #fafafa
}

.nav.nav-tabs.justify-content-center {
    border-bottom-left-radius: .3rem;
    border-bottom-right-radius: .3rem
}

.product-title a {
    color: inherit
}

.product {
    overflow: hidden;
}

.product-title a:hover,
.product-title a:focus {
    color: #c96
}

.table .stock-col {
    width: 160px;
    font-weight: 400;
}


.table.table-cart .price-col {
    width: 120px
}

.table.table-cart .total-col {
    width: 100px
}

.table.table-cart .order-col {
    width: 135px
}

.table.table-cart .quantity-col {
    width: 135px
}

.tab-content-border {
    border: .1rem solid #d7d7d7;
    border-radius: .3rem;
    border-top-left-radius: 0;
    border-top-width: 0
}

.justify-content-center+.tab-content-border {
    border-top-left-radius: .3rem
}

.table .order-col {
    color: #c96;
    font-weight: 400;
}

.tab-pane {
    padding: 1.4rem 2.2rem
}

.tab-pane p:last-child {
    margin-bottom: 0
}

.tab-content.tab-content-carousel>.tab-pane {
    display: block;
    visibility: hidden;
    height: 0 !important
}

.tab-content.tab-content-carousel>.tab-pane:not(.active) {
    overflow: hidden !important
}

.tab-content.tab-content-carousel>.active {
    height: auto !important;
    visibility: visible
}

.product-col .product-media {
    display: inline-block;
    margin: 0;
    margin-right: 2.8rem;
    flex-shrink: 0;
    max-width: 60px
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.product {
    overflow: hidden
}

@media screen and (max-width: 991px) {
    .product-col .product {
        display: flex;
        align-items: center;
        margin: 0;
        padding-right: 2rem;
        box-shadow: none
    }

    .product-col .product-media {
        display: inline-block;
        margin: 0;
        margin-right: 2.8rem;
        flex-shrink: 0;
        max-width: 100px
    }

    .product-col .product-title {
        display: inline-block;
        color: #333;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 1.25;
        margin: 0
    }

    .product-col .product-title a {
        color: inherit
    }

    .product-col .product-title a:hover,
    .product-col .product-title a:focus {
        color: #c96
    }

    .product-col .product {
        padding-right: 0
    }

    .table-mobile tr .product-col {
        padding-bottom: .6rem
    }

    .table-mobile .product-col .product {
        justify-content: center
    }

    .table-mobile .product-col .product-title {
        text-align: left
    }

    .product-col .product {
        padding-right: 0
    }
}


@media screen and (max-width: 767px) {
    .table-mobile .product-col .product-media {
        margin-right: 1.5rem
    }
}

.product-media {
    position: relative;
    display: block;
    background-color: #d7d7d7;
    margin-bottom: 0;
    overflow: hidden
}

.product-media>a {
    display: block
}

@media screen and (max-width: 991px) {

    .table-mobile,
    .table-mobile tbody,
    .table-mobile tr,
    .table-mobile td {
        width: 100% !important;
        display: block !important
    }

    .table-mobile thead {
        display: none !important
    }

    .table-mobile tr {
        position: relative;
        padding-top: 4.2rem;
        padding-bottom: 4rem
    }

    .table-mobile .remove-col {
        position: absolute;
        right: 1.5rem;
        top: .5rem;
        padding: .5rem !important;
        width: auto !important
    }

    .table-mobile tr td {
        text-align: center;
        padding: .1rem 3rem;
        border-bottom: none
    }

    .table-mobile tr .product-col {
        padding-bottom: .6rem
    }

    .table-mobile tr .action-col {
        padding-top: 1.5rem
    }

    .table-mobile tr .action-col .btn,
    .table-mobile tr .action-col .dropdown {
        max-width: 220px;
        margin-left: auto;
        margin-right: auto
    }

    .table-mobile .product-col .product {
        justify-content: center
    }

    .table-mobile .product-col .product-title {
        text-align: left
    }

    .table-mobile {
        border: .1rem solid #ebebeb
    }

    .table-mobile tr:not(:last-child) {
        border-bottom: .1rem solid #ebebeb
    }

    .table-mobile .cart-product-quantity {
        margin: .5rem auto
    }

    .product-col .product {
        padding-right: 0
    }
}

@media screen and (max-width: 767px) {
    .table-mobile .product-col .product-media {
        margin-right: 1.5rem
    }
}

.td-field {
    font-size: 16px;
}




